.loader{
    width:100px;
    height:100px;
    border-radius: 50%;
    border:20px solid #FFE660;
    border-top: 20px solid #4ECDC4;
    animation: spinAnimate 1s ease-in-out 0s infinite normal;
}

@keyframes spinAnimate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg); 
    }
}