/* for ground color */

h1{
    color:green;
}

p{
    color:aquamarine;
}

button { 
    color:blueviolet;
    background-color: rgb(39, 28, 71);
};

/* background color */

/* body {
    background-color: rgba(73, 45, 111, 0.404);
} */
 
*{
    color:black;
}