#box{
    color:red;
    background-color: black;
    font-size: 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: blue;
}

#innerbox{
 font-size: 19px;
 text-align: center;
 height: 100px;
    width: 100px;
    background-color: yellow;
    border-style: solid;

    border-color: blue;
    border-radius: 50%;
}

#pro{
color: blue;
text-align: center;
font-size: 50px;
text-transform: uppercase;
}

#dec {
    color: green;
    text-align : center;
    text-decoration:underline;
}

#p1{
    color: pink;
    background-color: azure;
    font-weight: bolder;
    font-variant: small-caps;
    font-family:'Geneva';
}





